<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Account management</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="https://placehold.it/64.png/000/fff" />
    <!-- Retina iPad Touch Icon-->
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="https://placehold.it/144.png/000/fff"
    />
    <!-- Retina iPhone Touch Icon-->
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="https://placehold.it/114.png/000/fff"
    />
    <!-- Standard iPad Touch Icon-->
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="https://placehold.it/72.png/000/fff"
    />
    <!-- Standard iPhone Touch Icon-->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="https://placehold.it/57.png/000/fff"
    />

    <!-- Styles -->
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/lib/themify-icons.css" rel="stylesheet" />
    <link href="/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet" />
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/lib/helper.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/styleJG.css" rel="stylesheet" />
  </head>

  <body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
      <div class="nano">
        <div class="nano-content">
          <div class="logo">
            <a href="/ads"
            ><span>Menu</span></a
            >
          </div>
          <ul>
            <li class="label">Ad management</li>
            <li>
              <a href="/ads"
              ><i class="ti-layout-grid4-alt"></i> Ad expiration query
              </a>
            </li>

            <li sec:authorize="hasRole('ROLE_MANAGER')">
              <a href="/ads-shangai"
              ><i class="ti-file"></i> Ad modification and deletion
              </a>
            </li>
            <li sec:authorize="hasRole('ROLE_MANAGER')">
              <a href="/ads-form"
              ><i class="ti-files"></i> Ad creation
              </a>
            </li>

            <li class="label">Spot Management</li>
            <li>
              <a href="/spots-view"
              >  <i class="ti-panel"></i>   Spot status query
              </a>
            </li>

            <li sec:authorize="hasRole('ROLE_MANAGER')">
              <a href="/spots"
              >  <i class="ti-panel"></i>   Spot modification and deletion
              </a>
            </li>


            <li class="label" sec:authorize="hasRole('ROLE_ADMIN')">User Management</li>

            <li sec:authorize="hasRole('ROLE_ADMIN')">
              <a href="/records"><i class="ti-eye"></i>  Operation record query</a>
            </li>


            <li sec:authorize="hasRole('ROLE_ADMIN')">
              <a href="/users"><i class="ti-user"></i>  Account management</a>
            </li>

            <li class="label">Operation</li>

            <li>
              <a href="/reset-password" ><i class="ti-settings"></i> Change Password</a>
            </li>

            <li>
              <a href="/logout" onclick="return confirm('Continue to log out？')"><i class="ti-close"></i> Log out</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="float-left">
              <div class="hamburger sidebar-toggle">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </div>
            </div>
            <div class="float-right">
              <div class="dropdown dib">
                <div class="header-icon" data-toggle="dropdown">
                  <span class="user-avatar" th:text="'Hi: ' + ${#authentication.principal.name} + '! '"
                  >John

                  </span><span><i class="ti-angle-down f-s-10"></i></span>

                  <div
                          class="drop-down dropdown-profile dropdown-menu dropdown-menu-right"
                  >
                    <div class="dropdown-content-heading">
                      <div class="text-left text-user-info" th:text="'Username：' + ${#authentication.principal.username}"></div>
                      <div class="text-left text-user-info" th:text="'Phone：' + ${#authentication.principal.phoneNumber}"></div>
                      <p class="text-left text-user-info text-user-role" th:text="'Authority：' + ${#authentication.principal.topAuthority}"></p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-wrap">
      <div class="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
              <div class="page-header">
                <div class="page-title">
                  <h1>Account management<span></span></h1>
                </div>
              </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-4 p-l-0 title-margin-left">
              <div class="page-header">
                <div class="page-title">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">User Management</li>
                    <li class="breadcrumb-item active">Account management</li>
                  </ol>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
          <!-- /# row -->
          <div id="main-content">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="compose-email">
                      <div class="mail-box">
                        <!-- left side form -->
                        <aside class="sm-side">
                          <div class="spot-add-title"><span class="btn-spot-add"><i class="fa fa-plus"></i>Create new User</span></div>
                          <div class="spot-update-info"><span class="btn-spot-update"><i class="ti-pencil"></i>Modify User Infor</span></div>
                          <div class="spot-update-pass"><span class="btn-spot-update"><i class="ti-pencil"></i>Modify Password</span></div>
                          <div class="spot-switch-info"><button class="user-switch-btn btn" onclick="switchForm()"><i class="ti-arrows-horizontal"></i></button></div>
                          <div class="spot-switch-pass"><button class="user-switch-btn btn" onclick="switchForm()"><i class="ti-arrows-horizontal"></i></button></div>

                          <form action="#" th:action="@{/users/add}" th:object="${user1}" method="post" class="user-add-form">
                              <div class="form-block">
                                <label for="user-add-id" class="spot-add-label">UserID<span class="warning warning-id-add"></span></label>
                                <input name="user-add-id" id="user-add-id" type="text" class="spot-add-input" th:field="*{id}">
                              </div>

                              <div class="form-block">
                                <label for="user-add-name" class="spot-add-label">Name<span class="warning warning-name-add"></span></label>
                                <input name="user-add-name" id="user-add-name" type="text" class="spot-add-input" th:field="*{name}">
                              </div>

                              <div class="form-block">
                                <label for="user-add-username" class="spot-add-label">Username<span class="warning warning-username-add"></span></label>
                                <input name="user-add-username" id="user-add-username" type="text" class="spot-add-input" th:field="*{username}">
                              </div>

                              <div class="form-block">
                                <label for="user-add-password" class="spot-add-label">Password<span class="warning warning-password-add"></span></label>
                                <input name="user-add-password" id="user-add-password" type="password" class="spot-add-input" th:field="*{password}">
                              </div>

                              <div class="form-block">
                                <label for="user-add-confirm-password" class="spot-add-label">Confirm Password<span class="warning warning-confirm-add"></span></label>
                                <input name="user-add-confirm-password" id="user-add-confirm-password" type="password" class="spot-add-input" >
                              </div>

                              <div class="form-block">
                                <label for="user-add-phone" class="spot-add-label">Phone<span class="warning warning-phone-add"></span></label>
                                <input name="user-add-phone" id="user-add-phone" type="text" class="spot-add-input" th:field="*{phoneNumber}">
                              </div>

                              <div class="form-block">
                                <label for="user-add-authority" class="spot-add-label">Authority</label>
                                <select name="user-add-authority" id="user-add-authority" class="classic spot-add-select"  th:field="*{topRole}">
                                  <option value="Staff">Staff</option>
                                  <option value="Manager">Staff</option>
                                  <!-- <option value="admin">Admin</option> -->
                                </select>
                              </div>

                              <button type="submit" class="btn btn-success spot-add-btn">Submit</button>
                            </form>

                          <form action="#" th:action="@{/users/update-info}" th:object="${user2}" method="post" class="user-update-info">
                              <div class="form-block">
                                <label for="user-update-id" class="spot-add-label">UserID(unchangeable)<span class="warning warning-id-info"></span></label>
                                <input name="user-update-id" id="user-update-id" type="text" class="spot-add-input" th:field="*{id}" readonly>
                              </div>


                              <div class="form-block">
                                <label for="user-update-username" class="spot-add-label">Username（unchangeable）<span class="warning warning-username-info"></span></label>
                                <input name="user-update-username" id="user-update-username" type="text" class="spot-add-input" th:field="*{username}" readonly>
                              </div>

                            <div class="form-block">
                              <label for="user-update-name" class="spot-add-label">Name<span class="warning warning-name-info"></span></label>
                              <input name="user-update-name" id="user-update-name" type="text" class="spot-add-input" th:field="*{name}">
                            </div>

                              <div class="form-block">
                                <label for="user-update-phone" class="spot-add-label">Phone<span class="warning warning-phone-info"></span></label>
                                <input name="user-update-phone" id="user-update-phone" type="text" class="spot-add-input" th:field="*{phoneNumber}">
                              </div>

                            <div class="form-block">
                              <label for="user-update-locked" class="spot-add-label">Is Locked<span class="warning warning-phone-info"></span></label>
                              <select name="user-update-locked" id="user-update-locked" class="classic spot-add-select"  th:field="*{accountNonLocked}">
                                <option value="true">No</option>
                                <option value="false">Yes</option>
                              </select>
                            </div>

                              <div class="form-block">
                                <label for="user-update-authority" class="spot-add-label">Authority<span class="warning warning-auth-info"></span></label>
                                <select name="user-update-authority" id="user-update-authority" class="classic spot-add-select"  th:field="*{topRole}">
                                  <option value="Staff">Staff</option>
                                  <option value="Manager">Manager</option>
                                  <!-- <option value="admin">Admin</option> -->
                                </select>
                              </div>

                              <button type="submit" class="btn btn-success spot-add-btn">Submit交</button>
                            </form>

                          <form action="#" th:action="@{/users/update-password}" th:object="${user3}" method="post" class="user-update-pass">
                            <div class="form-block">
                              <label for="user-pass-id" class="spot-add-label">UserID<span class="warning warning-id-pass"></span></label>
                              <input name="user-pass-id" id="user-pass-id" type="text" class="spot-add-input" th:field="*{id}" readonly>
                            </div>

                            <div class="form-block">
                              <label for="user-pass-password" class="spot-add-label">Password<span class="warning warning-password-pass"></span></label>
                              <input name="user-pass-password" id="user-pass-password" type="password" class="spot-add-input" th:field="*{password}">
                            </div>

                            <div class="form-block">
                              <label for="user-pass-confirm-password" class="spot-add-label">Confirm Password<span class="warning warning-confirm-pass"></span></label>
                              <input name="user-pass-confirm-password" id="user-pass-confirm-password" type="password" class="spot-add-input" >
                            </div>

                            <button type="submit" class="btn btn-success spot-add-btn">Submit</button>
                          </form>


                        </aside>

                        <!-- right side table -->
                        <aside class="lg-side">
                          <!-- table view -->
                          <div class="table-responsive">
                            <table id="row-select" class="display table table-borderd table-hover ad-sc-table" style="width:100%" > 
                              <thead>
                                <tr>
                                  <th style="width:15%">UserID</th>
                                  <th style="width:10%">Name</th>
                                  <th style="width:15%">Username</th>
                                  <th style="width:15%">Phone</th>
                                  <th style="width:10%">Authority</th>
                                  <th style="width:15%">Is Locked</th>
                                  <th style="width:15%">Locked Time</th>
                                  <th style="width:5%">Operation</th>
                                </tr>
                              </thead>

                              <tbody> 
                                <tr class="table-body" th:each="user:${users}">
                                    <td th:id="'id_' + ${user.id}" th:text="${user.getId()}"></td>
                                    <td th:id="'name_' + ${user.id}" th:text="${user.getName()}"></td>
                                    <td th:id="'username_' + ${user.id}" th:text="${user.getUsername()}"></td>
                                    <td th:id="'phone_' + ${user.id}" th:text="${user.getPhoneNumber()}"></td>
                                    <td th:id="'authority_' + ${user.id}" th:text="${user.topRole}"></td>
                                    <td th:id="'accountNonLocked_' + ${user.id}" th:text="${user.accountNonLocked ? 'No':'Yes'}"></td>
                                  <td th:id="'lockedTime_' + ${user.id}" th:text="${user.lockTime}"></td>
                                    <td>
                                      <div class="operation-btns">
                                        <span class="jsgrid-button jsgrid-edit-button ti-pencil" type="button" title="Edit" th:id="'update-btn_' + ${user.id}" onclick="selectUserForm(this.id)"></span>
                                        <span class="jsgrid-button jsgrid-edit-button  ti-pencil-alt" type="button" title="Edit" th:id="'reset-btn_' + ${user.id}" onclick="selectUserPass(this.id)"></span>
                                        <a class="delete-btn-atag" th:id="'delete-btn_' + ${user.id}" th:href="@{/users/delete(id=${user.id})}" onclick="return deleteUser(this.id)"><span class="jsgrid-button jsgrid-delete-button ti-trash" type="button" title="Delete"></span></a>
                                      </div>
                                    </td>
        
                                </tr>
                              </tbody>
                      
                            </table>
                          </div>
                        </aside>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="footer">
                  <p>Copyright ©XYH6. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- script -->
  <script src="/js/lib/jquery.min.js"></script>
  <script src="/js/lib/jquery.nanoscroller.min.js"></script>
  <script src="/js/lib/menubar/sidebar.js"></script>
  <script src="/js/lib/preloader/pace.min.js"></script>
  <script src="/js/lib/bootstrap.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script src="/js/scriptJG_accmanage.js"></script>
</html>
