<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Ad modification and deletion</title>

  <!-- ================= Favicon ================== -->
  <!-- Standard -->
  <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff" />
  <!-- Retina iPad Touch Icon-->
  <link
          rel="apple-touch-icon"
          sizes="144x144"
          href="http://placehold.it/144.png/000/fff"
  />
  <!-- Retina iPhone Touch Icon-->
  <link
          rel="apple-touch-icon"
          sizes="114x114"
          href="http://placehold.it/114.png/000/fff"
  />
  <!-- Standard iPad Touch Icon-->
  <link
          rel="apple-touch-icon"
          sizes="72x72"
          href="http://placehold.it/72.png/000/fff"
  />
  <!-- Standard iPhone Touch Icon-->
  <link
          rel="apple-touch-icon"
          sizes="57x57"
          href="http://placehold.it/57.png/000/fff"
  />

  <!-- Styles -->
  <link href="/css/lib/font-awesome.min.css" rel="stylesheet" />
  <link href="/css/lib/themify-icons.css" rel="stylesheet" />
  <link href="/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
  <link href="/css/lib/menubar/sidebar.css" rel="stylesheet" />
  <link href="/css/lib/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/lib/helper.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/styleJG.css" rel="stylesheet" />
</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
  <div class="nano">
    <div class="nano-content">
      <div class="logo">
        <a href="/ads"
        ><span>Menu</span></a
        >
      </div>
      <ul>
        <li class="label">Ad management</li>
        <li>
          <a href="/ads"
          ><i class="ti-layout-grid4-alt"></i> Ad expiration query
          </a>
        </li>

        <li sec:authorize="hasRole('ROLE_MANAGER')">
          <a href="/ads-shangai"
          ><i class="ti-file"></i> Ad modification and deletion
          </a>
        </li>
        <li sec:authorize="hasRole('ROLE_MANAGER')">
          <a href="/ads-form"
          ><i class="ti-files"></i> Ad creation
          </a>
        </li>

        <li class="label">Spot Management</li>
        <li>
          <a href="/spots-view"
          >  <i class="ti-panel"></i>   Spot status query
          </a>
        </li>

        <li sec:authorize="hasRole('ROLE_MANAGER')">
          <a href="/spots"
          >  <i class="ti-panel"></i>   Spot modification and deletion
          </a>
        </li>


        <li class="label" sec:authorize="hasRole('ROLE_ADMIN')">User Management</li>

        <li sec:authorize="hasRole('ROLE_ADMIN')">
          <a href="/records"><i class="ti-eye"></i>  Operation record query</a>
        </li>


        <li sec:authorize="hasRole('ROLE_ADMIN')">
          <a href="/users"><i class="ti-user"></i>  Account management</a>
        </li>

        <li class="label">Operation</li>

        <li>
          <a href="/reset-password" ><i class="ti-settings"></i> Change Password</a>
        </li>

        <li>
          <a href="/logout" onclick="return confirm('Continue to log out？')"><i class="ti-close"></i> Log out</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /# sidebar -->

<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="float-left">
          <div class="hamburger sidebar-toggle">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
        <div class="float-right">
          <div class="dropdown dib">
            <div class="header-icon" data-toggle="dropdown">
                  <span class="user-avatar" th:text="'Hi: ' + ${#authentication.principal.name} + '! '"
                  >John

                  </span><span><i class="ti-angle-down f-s-10"></i></span>

              <div
                      class="drop-down dropdown-profile dropdown-menu dropdown-menu-right"
              >
                <div class="dropdown-content-heading">
                  <div class="text-left text-user-info" th:text="'Username：' + ${#authentication.principal.username}"></div>
                  <div class="text-left text-user-info" th:text="'Phone：' + ${#authentication.principal.phoneNumber}"></div>
                  <p class="text-left text-user-info text-user-role" th:text="'Authority：' + ${#authentication.principal.topAuthority}"></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-wrap">
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 p-r-0 title-margin-right">
          <div class="page-header">
            <div class="page-title">
              <h1>Ad modification and deletion<span></span></h1>
            </div>
          </div>
        </div>
        <!-- /# column -->
        <div class="col-lg-4 p-l-0 title-margin-left">
          <div class="page-header">
            <div class="page-title">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Spot Management</li>
                <li class="breadcrumb-item active">Ad modification and deletion</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- /# column -->
      </div>
      <!-- /# row -->
      <div id="main-content">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">


              <table id="row-select" class="display table table-borderd table-hover ad-sc-table dataTable" style="width:100%" >
                <thead>
                <tr class="search-bar-tablerow">
                  <th rowspan="1" colspan="1">
                    <input class="form-control search-bar-input" name="search-bar-id"  type="text" id="search-bar-id" >
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-type">
                      <option value=""></option>
                      <option value="In_station">In_station</option>
                      <option value="In_train">In_train</option>
                    </select>
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-station">

                    </select>
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-spotnumber">

                    </select>
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-train">

                    </select>
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-adtype">

                    </select>
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-industrytype">

                    </select>
                  </th>

                  <th rowspan="1" colspan="1">
                    <input class="form-control search-bar-input" name="search-bar-content" type="text"  id="search-bar-content">
                  </th>
                  <th rowspan="1" colspan="1">
                    <input class="form-control search-bar-input" name="search-bar-id" type="text"  id="search-bar-company">
                  </th>
                  <th rowspan="1" colspan="1">
                    <input class="form-control search-bar-input" name="search-bar-id" type="month"  id="search-bar-ddl">
                  </th>
                  <th rowspan="1" colspan="1">
                    <select class="form-control search-bar-select"  id="search-bar-status">
                      <option value=""></option>
                      <option value="Expired">Expired</option>
                      <option value="Non_expired">Non_expired</option>
                      <option value="Dropped">Dropped</option>
                    </select>
                  </th>
                  <th></th>
                  <th rowspan="1" colspan="1">
                    <a class="clean-search-btn btn a-btn" href="/ads-shangai">Clean Search</a>

                  </th>

                </tr>
                <tr>
                  <th style="width:5%">RecordID</th>
                  <th style="width:5%">Type</th>
                  <th style="width:7%">Station</th>
                  <th style="width:7%">Spot_number</th>
                  <th style="width:7%">Train</th>
                  <th style="width:10%"> Ad Type</th>
                  <th style="width:10%"> Industry</th>
                  <th style="width:10%"> Content</th>
                  <th style="width:10%"> Company</th>
                  <th style="width:10%"> DDL</th>
                  <th style="width:7%"> Status</th>
                  <th style="width:4%"> Image</th>

                  <th style="width:8%">Operation</th>


                </tr>

                </thead>

                <tbody id="dashboard-table-body" >
                  <tr class="table-body" th:each="ad:${ads}">
                    <td th:id="'ad-form-id_' + ${ad.id}" th:text="${ad.id}"></td>
                    <td th:id="'ad-form-type_' + ${ad.id}" th:text="${ad.spotType}"></td>
                    <td th:id="'ad-form-station_' + ${ad.id}" th:text="${ad.station}"></td>
                    <td th:id="'ad-form-spotnumber_' + ${ad.id}" th:text="${ad.spotNumber}"></td>
                    <td th:id="'ad-form-train_' + ${ad.id}" th:text="${ad.train}"></td>
                    <td th:id="'ad-form-adtype_' + ${ad.id}" th:text="${ad.adType}"></td>
                    <td th:id="'ad-form-industrytype_' + ${ad.id}" th:text="${ad.industryType}"></td>
                    <td th:id="'ad-form-content_' + ${ad.id}" th:text="${ad.content}"></td>
                    <td th:id="'ad-form-company_' + ${ad.id}" th:text="${ad.company}"></td>
                    <td th:id="'ad-form-ddl_' + ${ad.id}" th:text="${ad.ddl}"></td>
                    <td th:id="'ad-form-status_' + ${ad.id}" th:text="${ad.getStatus()}"></td>
                    <td th:id="'ad-form-picture_' + ${ad.picture}"><a th:href="'/img/' + ${ad.picture}" target="_blank" rel="noopener noreferrer"><i class = 'ti-arrow-top-right'></i></a></td>

                    <td>
                      <div class="operation-btns">
                            <a class="update-btn btn" th:id="'update-btn_' + ${ad.id}" th:href="@{/ads-update(id=${ad.id})}">Modify</a>
                            <a class="drop-btn btn" th:id="'drop-btn_' + ${ad.id}" th:href="@{/ads-shangai/drop(id=${ad.id})}" onclick="confirmDrop(this.id)">Drop</a>

                      </div>
                    </td>

                  </tr>
                </tbody>


              </table>

              <div th:if="${totalPages>1}" class="page-block" id="page-block">
                <div class="page-bar" id="page-bar">
                  <div>
                    <a  th:href="@{'/ads-shangai/page/' + ${1}}">First</a>
                  </div>
                  <div>
                    <a th:if="${currentPage > 1}" th:href="@{'/ads-shangai/page/' + ${currentPage - 1}}">Prev</a>
                  </div>
                  <div>
                    <a th:if="${currentPage -3 > 0}" >...</a>
                  </div>
                  <div>
                    <a th:if="${currentPage -2 > 0}" th:href="@{'/ads-shangai/page/' + ${currentPage - 2}}">[[${currentPage - 2}]]</a>
                  </div>
                  <div>
                    <a th:if="${currentPage -1 > 0}" th:href="@{'/ads-shangai/page/' + ${currentPage - 1}}">[[${currentPage - 1}]]</a>
                  </div>
                  <div>
                    <a  th:href="@{'/ads-shangai/page/' + ${currentPage}}" class="page-bar-cur">[[${currentPage}]]</a>
                  </div>

                  <div>
                    <a th:if="${currentPage +1 <= totalPages}" th:href="@{'/ads-shangai/page/' + ${currentPage + 1}}">[[${currentPage + 1}]]</a>

                  </div>
                  <div>
                    <a th:if="${currentPage +2 <= totalPages}" th:href="@{'/ads-shangai/page/' + ${currentPage +2}}">[[${currentPage + 2}]]</a>

                  </div>
                  <div>
                    <a th:if="${currentPage +3 <= totalPages}" >...</a>

                  </div>
                  <div>
                    <a th:if="${currentPage < totalPages}" th:href="@{'/ads-shangai/page/' + ${currentPage + 1}}">Next</a>
                  </div>
                  <div>
                    <a  th:href="@{'/ads-shangai/page/' + ${totalPages}}">Last</a>
                  </div>
                </div>
                <div class="page-total-count" ><div id="page-total-count">Total:[[${totalItems}]]</div></div>

              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="footer">
              <p>Copyright ©XYH6. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<!-- script -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script>
<script src="/js/lib/menubar/sidebar.js"></script>
<script src="/js/lib/preloader/pace.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/scriptJG_shangai.js"></script>

</html>
</html>
