<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url=/login" />
    <title>退出登录</title>
    <link href="/css/styleJG_error.css" rel="stylesheet" />
    <link href="/css/styleJG_redirect.css" rel="stylesheet" />
</head>
<body>

    <div id="background"></div>
    <div class="top">
        <h3>退出登录，正在跳转界面...</h3>
    </div>
    <div class="rocket">
        <div class="container"> <div class="erath">
            <canvas class="hole h1">e</canvas>
            <canvas class="hole h2"></canvas>
            <canvas class="hole h3"></canvas>
            <canvas class="hole h4"></canvas>
            <canvas class="hole h5"></canvas>
            <canvas class="hole h6"></canvas>
            <canvas class="eye e1"></canvas>
            <canvas class="eye e2"></canvas>
            <canvas class="lip "></canvas>
        </div>
            <div id="orbit">
                <div id="rocket">
                    <canvas id="r_body"></canvas>
                    <canvas id="window"></canvas>
                    <canvas id="wing"></canvas>
                    <canvas id="engine"></canvas>
                </div>
            </div>
        </div>
    </div>
</body>
</html>