<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log In</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="/images/icons/fff_64.png" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/fff_144.png"/>
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/fff_114.png"/>
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/fff_72.png"/>
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/fff_57.png"/>

    <!-- Styles -->
    <link href="/css/styleLogin.css" rel="stylesheet" />
</head>

<body>
    <div class="body">
        <img src="/images/login-bg.jpg" alt="bg">
    </div>
    <div class="grad"></div>
    <div class="main">
        <div class="header">
            <div>Subway Ad<br><span>Management System</span></div>
        </div>
        <br>
        <div class="login">
            <div>
                <form th:action="@{/login}" method="post" class="login-form">

                    <input type="text" class="form-control" name="username" placeholder="Username">


                    <input type="password" class="form-control" name="password" placeholder="Password">



                    <div class="error-chinese-block" th:if="${param.error}">
                        <div class="login-error-text" th:switch="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                            <div  th:case="'User account is locked'">Account locked！</div>
                            <div  th:case="'Bad credentials'">Invalid Password！</div>
                            <div th:case="*">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
                        </div>
                    </div>

                    <button type="submit" class="submit-btn">Log in</button>

                </form>
            </div>
        </div>

    </div>

    <div class="remark">
        <div>This is a demo ad system. Accounts can only be created using the Admin account.</div>
        <div>You can log into the system with following sample accounts:</div>
        <div>The change password function is disable(annotated) for the use of demo system.</div>
        <div><i>Username:admin  password:admin</i></div>
        <div><i>Username:manager  password:manager</i></div>
        <div><i>Username:staff  password:staff</i></div>
    </div>
    </div>


</body>

</html>