<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Reset Password</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="/images/icons/fff_64.png" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/fff_144.png"/>
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/fff_114.png"/>
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/fff_72.png"/>
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/fff_57.png"/>

    <!-- Styles -->
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/css/lib/helper.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/styleReset.css" rel="stylesheet" />
</head>

<body class="bg-primary">

<div class="unix-login">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-content">
                    <div class="login-logo">
                    </div>
                    <div class="login-form">
                        <h4 class="login-form-heading">Reset Password</h4>
                        <form action="#" th:action="@{/reset-password/submit}" method="post" th:object="${rp}" id="reset-form">
                            <div class="form-group">
                                <label>Username<span class="warning warning-username" th:text="'  '+${errorUsername}"></span></label>
                                <input type="text" class="form-control" name="username" th:field="*{username}" readonly>
                            </div>
                            <div class="form-group">
                                <label>Original Password<span class="warning warning-pass-old"  th:text="'  '+${errorPassword}"></span></label>
                                <input type="password" class="form-control" name="password-old" th:field="*{passwordOld}" id="password-old">
                            </div>
                            <div class="form-group">
                                <label>New Password<span class="warning warning-pass-new"></span></label>
                                <input type="password" class="form-control" name="password-new" th:field="*{passwordNew}" id="password-new">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password<span class="warning warning-pass-confirm"></span></label>
                                <input type="password" class="form-control" name="password-confirm" id="password-confirm">
                            </div>



                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30 login-form-btn"> Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/js/scriptJG_reset.js"></script>

</html>