<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Operation record query</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="/images/icons/fff_64.png" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/fff_144.png"/>
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/fff_114.png"/>
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/fff_72.png"/>
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/fff_57.png"/>

    <!-- Styles -->
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/lib/themify-icons.css" rel="stylesheet" />
    <link href="/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet" />
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/lib/helper.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/styleJG.css" rel="stylesheet" />
</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo">
                <a href="/ads"
                ><span>Menu</span></a
                >
            </div>
            <ul>
                <li class="label">Ad management</li>
                <li>
                    <a href="/ads"
                    ><i class="ti-layout-grid4-alt"></i> Ad expiration query
                    </a>
                </li>

                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/ads-shangai"
                    ><i class="ti-file"></i> Ad modification and deletion
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/ads-form"
                    ><i class="ti-files"></i> Ad creation
                    </a>
                </li>

                <li class="label">Spot Management</li>
                <li>
                    <a href="/spots-view"
                    >  <i class="ti-panel"></i>   Spot status query
                    </a>
                </li>

                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/spots"
                    >  <i class="ti-panel"></i>   Spot modification and deletion
                    </a>
                </li>


                <li class="label" sec:authorize="hasRole('ROLE_ADMIN')">User Management</li>

                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/records"><i class="ti-eye"></i>  Operation record query</a>
                </li>


                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/users"><i class="ti-user"></i>  Account management</a>
                </li>

                <li class="label">Operation</li>

                <li>
                    <a href="/reset-password" ><i class="ti-settings"></i> Change Password</a>
                </li>

                <li>
                    <a href="/logout" onclick="return confirm('Continue to log out？')"><i class="ti-close"></i> Log out</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                  <span class="user-avatar" th:text="'Hi: ' + ${#authentication.principal.name} + '! '"
                  >John

                  </span><span><i class="ti-angle-down f-s-10"></i></span>

                            <div
                                    class="drop-down dropdown-profile dropdown-menu dropdown-menu-right"
                            >
                                <div class="dropdown-content-heading">
                                    <div class="text-left text-user-info" th:text="'Username：' + ${#authentication.principal.username}"></div>
                                    <div class="text-left text-user-info" th:text="'Phone：' + ${#authentication.principal.phoneNumber}"></div>
                                    <p class="text-left text-user-info text-user-role" th:text="'Authority：' + ${#authentication.principal.topAuthority}"></p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Operation record query<span></span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">User Management</li>
                                <li class="breadcrumb-item active">Operation record query</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <table id="row-select" class="display table table-borderd table-hover ad-sc-table" style="width:100%" >
                                <thead>
                                <tr>
                                    <th style="width:10%">OperationID</th>
                                    <th style="width:10%">UserID</th>
                                    <th style="width:10%">Username</th>
                                    <th style="width:10%">ip</th>
                                    <th style="width:20%">URI</th>
                                    <th style="width:25%">Operation</th>
                                    <th style="width:15%">Time</th>


                                </tr>
                                </thead>

                                <tbody id="dashboard-table-body">
                                    <tr class="table-body"  th:each="record:${records}" >
                                        <td th:text="${record.id}"></td>
                                        <td th:text="${record.userId}"></td>
                                        <td th:text="${record.username}"></td>
                                        <td th:text="${record.ip}"></td>
                                        <td th:text="${record.uri}"></td>
                                        <td th:text="${record.operation}"></td>
                                        <td th:text="${record.time}"></td>

                                    </tr>

                                </tbody>

                            </table>

                            <div th:if="${totalPages>1}" class="page-block" id="page-block">
                                <div class="page-bar" id="page-bar">
                                    <div>
                                        <a  th:href="@{'/records/page/' + ${1}}">First</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage > 1}" th:href="@{'/records/page/' + ${currentPage - 1}}">Prev</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage -3 > 0}" >...</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage -2 > 0}" th:href="@{'/records/page/' + ${currentPage - 2}}">[[${currentPage - 2}]]</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage -1 > 0}" th:href="@{'/records/page/' + ${currentPage - 1}}">[[${currentPage - 1}]]</a>
                                    </div>
                                    <div>
                                        <a  th:href="@{'/records/page/' + ${currentPage}}" class="page-bar-cur">[[${currentPage}]]</a>
                                    </div>

                                    <div>
                                        <a th:if="${currentPage +1 <= totalPages}" th:href="@{'/records/page/' + ${currentPage + 1}}">[[${currentPage + 1}]]</a>

                                    </div>
                                    <div>
                                        <a th:if="${currentPage +2 <= totalPages}" th:href="@{'/records/page/' + ${currentPage +2}}">[[${currentPage + 2}]]</a>

                                    </div>
                                    <div>
                                        <a th:if="${currentPage +3 <= totalPages}" >...</a>

                                    </div>
                                    <div>
                                        <a th:if="${currentPage < totalPages}" th:href="@{'/records/page/' + ${currentPage + 1}}">Next</a>
                                    </div>
                                    <div>
                                        <a  th:href="@{'/records/page/' + ${totalPages}}">Last</a>
                                    </div>
                                </div>
                                <div class="page-total-count" ><div id="page-total-count">Total:[[${totalItems}]]</div></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>Copyright ©XYH6. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- script -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script>
<script src="/js/lib/menubar/sidebar.js"></script>
<script src="/js/lib/preloader/pace.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>

</html>
</html>
