<!DOCTYPE html>
<html lang="zh-cn" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>广告到期查询</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff" />
    <!-- Retina iPad Touch Icon-->
    <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="http://placehold.it/144.png/000/fff"
    />
    <!-- Retina iPhone Touch Icon-->
    <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="http://placehold.it/114.png/000/fff"
    />
    <!-- Standard iPad Touch Icon-->
    <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="http://placehold.it/72.png/000/fff"
    />
    <!-- Standard iPhone Touch Icon-->
    <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="http://placehold.it/57.png/000/fff"
    />

    <!-- Styles -->
    <link href="/css/lib/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/lib/themify-icons.css" rel="stylesheet" />
    <link href="/css/lib/jsgrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="/css/lib/menubar/sidebar.css" rel="stylesheet" />
    <link href="/css/lib/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/lib/helper.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/styleJG.css" rel="stylesheet" />
</head>

<body>
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo">
                <a href="/ads"
                ><span>菜单</span></a
                >
            </div>
            <ul>
                <li class="label">广告管理</li>
                <li>
                    <a href="/ads"
                    ><i class="ti-layout-grid4-alt"></i> 广告到期查询
                    </a>
                </li>

                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/ads-shangai"
                    ><i class="ti-file"></i> 广告修改删除
                    </a>
                </li>
                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/ads-form"
                    ><i class="ti-files"></i> 新增广告上刊
                    </a>
                </li>

                <li class="label">点位管理</li>
                <li>
                    <a href="/spots-view"
                    >  <i class="ti-panel"></i>   点位状态查询
                    </a>
                </li>

                <li sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/spots"
                    >  <i class="ti-panel"></i>   点位修改删除
                    </a>
                </li>


                <li class="label" sec:authorize="hasRole('ROLE_ADMIN')">用户管理</li>

                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/records"><i class="ti-eye"></i>  操作记录查询</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="/users"><i class="ti-user"></i>  账号权限管理</a>
                </li>

                <li class="label">登录操作</li>
                <li>
                    <a href="/reset-password" ><i class="ti-settings"></i> 修改密码</a>
<!--                    <a th:href="'/reset-password/' +${#authentication.principal.username}" ><i class="ti-settings"></i> 修改密码</a>-->
                </li>

                <li>
                    <a href="/logout" onclick="return confirm('是否退出登录？')"><i class="ti-close"></i> 退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                  <span class="user-avatar" th:text="'您好: ' + ${#authentication.principal.name} + '! '"
                  >John

                  </span><span><i class="ti-angle-down f-s-10"></i></span>

                            <div
                                    class="drop-down dropdown-profile dropdown-menu dropdown-menu-right"
                            >
                                <div class="dropdown-content-heading">
                                    <div class="text-left text-user-info" th:text="'用户名：' + ${#authentication.principal.username}"></div>
                                    <div class="text-left text-user-info" th:text="'手机号：' + ${#authentication.principal.phoneNumber}"></div>
                                    <p class="text-left text-user-info text-user-role" th:text="'权限：' + ${#authentication.principal.topAuthority}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>广告记录到期状态查询<span></span></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">广告管理</li>
                                <li class="breadcrumb-item active">广告到期查询</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <div id="main-content">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="card">
                            <div class="note-line-dashboard">
                                <div><span class="red-block"></span>：已过期未下刊广告记录</div>
                                <div><span class="yellow-block"></span>：七日内到期的广告记录</div>
                            </div>
                            <table id="row-select" class="display table table-borderd table-hover ad-sc-table" style="width:100%" >
                                <thead>
                                <tr>
                                    <th >记录ID</th>
                                    <th >车站/列车</th>
                                    <th >站点</th>
                                    <th >序号</th>
                                    <th >列车号</th>
                                    <th > 广告形式</th>
                                    <th > 行业分类</th>
                                    <th > 内容</th>
                                    <th > 结算单位</th>
                                    <th > 到期时间</th>
                                    <th > 图片</th>
                                    <th > 备注</th>
                                    <th > 状态</th>

                                </tr>
                                </thead>

                                <tbody id="dashboard-table-body">
                                    <tr class="table-body"  th:each="ad:${ads}" th:classappend="${ad.getStatus() == '已过期' ? 'red-table-row table-body' : (ad.lessThanSeven() ? 'yellow-table-row table-body' : '')}">
                                        <td th:id="'ad-form-id_' + ${ad.id}" th:text="${ad.id}"></td>
                                        <td th:id="'ad-form-type_' + ${ad.id}" th:text="${ad.spotType}"></td>
                                        <td th:id="'ad-form-station_' + ${ad.id}" th:text="${ad.station}"></td>
                                        <td th:id="'ad-form-spotnumber_' + ${ad.id}" th:text="${ad.spotNumber}"></td>
                                        <td th:id="'ad-form-train' + ${ad.id}" th:text="${ad.train}"></td>
                                        <td th:id="'ad-form-adtype' + ${ad.id}" th:text="${ad.adType}"></td>
                                        <td th:id="'ad-form-industrytype' + ${ad.id}" th:text="${ad.industryType}"></td>
                                        <td th:id="'ad-form-content' + ${ad.id}" th:text="${ad.content}"></td>
                                        <td th:id="'ad-form-company' + ${ad.id}" th:text="${ad.company}"></td>
                                        <td th:id="'ad-form-ddl' + ${ad.id}" th:text="${ad.ddl}"></td>
                                        <td th:id="'ad-form-picture' + ${ad.picture}"><a th:href="'/img/' + ${ad.picture}" target="_blank" rel="noopener noreferrer"><i class = 'ti-arrow-top-right'></i></a></td>
                                        <td th:id="'ad-form-status' + ${ad.id}" th:text="${ad.getRemark()}"></td>
                                        <td th:id="'ad-form-status' + ${ad.id}" th:text="${ad.getStatus()}"></td>

                                    </tr>

                                </tbody>

                            </table>

                            <div th:if="${totalPages>1}" class="page-block" id="page-block">
                                <div class="page-bar" id="page-bar">
                                    <div>
                                        <a  th:href="@{'/ads/page/' + ${1}}">首页</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage > 1}" th:href="@{'/ads/page/' + ${currentPage - 1}}">上一页</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage -3 > 0}" >...</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage -2 > 0}" th:href="@{'/ads/page/' + ${currentPage - 2}}">[[${currentPage - 2}]]</a>
                                    </div>
                                    <div>
                                        <a th:if="${currentPage -1 > 0}" th:href="@{'/ads/page/' + ${currentPage - 1}}">[[${currentPage - 1}]]</a>
                                    </div>
                                    <div>
                                        <a  th:href="@{'/ads/page/' + ${currentPage}}" class="page-bar-cur">[[${currentPage}]]</a>
                                    </div>

                                    <div>
                                        <a th:if="${currentPage +1 <= totalPages}" th:href="@{'/ads/page/' + ${currentPage + 1}}">[[${currentPage + 1}]]</a>

                                    </div>
                                    <div>
                                        <a th:if="${currentPage +2 <= totalPages}" th:href="@{'/ads/page/' + ${currentPage +2}}">[[${currentPage + 2}]]</a>

                                    </div>
                                    <div>
                                        <a th:if="${currentPage +3 <= totalPages}" >...</a>

                                    </div>
                                    <div>
                                        <a th:if="${currentPage < totalPages}" th:href="@{'/ads/page/' + ${currentPage + 1}}">下一页</a>
                                    </div>
                                    <div>
                                        <a  th:href="@{'/ads/page/' + ${totalPages}}">尾页</a>
                                    </div>
                                </div>
                                <div class="page-total-count" ><div id="page-total-count">总记录数:[[${totalItems}]]</div></div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>Copyright ©XYH6. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- script -->
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/jquery.nanoscroller.min.js"></script>
<script src="/js/lib/menubar/sidebar.js"></script>
<script src="/js/lib/preloader/pace.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/scriptJG_dashbord.js"></script>
</html>
</html>
