server {
    listen 443 ssl;
    server_name adms.yhxiang6.com;

    ssl_certificate /etc/letsencrypt/live/adms.yhxiang6.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/adms.yhxiang6.com/privkey.pem;


    location / {
        proxy_pass http://159.65.241.89:8090/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /static/ {
        alias /var/www/adms/AdMS/adms/static/;
    }
}

server{
        listen 80;
        server_name adms.yhxiang6.com;

#        redirect to https
        return 301 https://$host$request_uri;
}