server {
    listen 80;
    server_name adms.yhxiang6.com www.adms.yhxiang6.com;

    location / {
        proxy_pass http://159.65.241.89:8090/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /static/ {
        alias /var/www/adms/AdMS/adms/static/;
    }
}
